In [1]:
import pandas as pd
from statistics import mode

### Считываем данные

In [2]:
data = pd.read_csv("data/train.csv")

In [3]:
data.head()

,session_id,site1,time1,site2,time2,site3,time3,site4,time4,site5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
0,1,718,2014-02-20 10:02:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2,890,2014-02-22 11:19:50,941.0,2014-02-22 11:19:50,3847.0,2014-02-22 11:19:51,941.0,2014-02-22 11:19:51,942.0,...,2014-02-22 11:19:51,3847.0,2014-02-22 11:19:52,3846.0,2014-02-22 11:19:52,1516.0,2014-02-22 11:20:15,1518.0,2014-02-22 11:20:16,0
2,3,14769,2013-12-16 16:40:17,39.0,2013-12-16 16:40:18,14768.0,2013-12-16 16:40:19,14769.0,2013-12-16 16:40:19,37.0,...,2013-12-16 16:40:19,14768.0,2013-12-16 16:40:20,14768.0,2013-12-16 16:40:21,14768.0,2013-12-16 16:40:22,14768.0,2013-12-16 16:40:24,0
3,4,782,2014-03-28 10:52:12,782.0,2014-03-28 10:52:42,782.0,2014-03-28 10:53:12,782.0,2014-03-28 10:53:42,782.0,...,2014-03-28 10:54:42,782.0,2014-03-28 10:55:12,782.0,2014-03-28 10:55:42,782.0,2014-03-28 10:56:12,782.0,2014-03-28 10:56:42,0
4,5,22,2014-02-28 10:53:05,177.0,2014-02-28 10:55:22,175.0,2014-02-28 10:55:22,178.0,2014-02-28 10:55:23,177.0,...,2014-02-28 10:55:59,175.0,2014-02-28 10:55:59,177.0,2014-02-28 10:55:59,177.0,2014-02-28 10:57:06,178.0,2014-02-28 10:57:11,0

In [4]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253561 entries, 0 to 253560
Data columns (total 22 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   session_id  253561 non-null  int64
 1   site1       253561 non-null  int64
 2   time1       253561 non-null  object
 3   site2       250098 non-null  float64
 4   time2       250098 non-null  object
 5   site3       246919 non-null  float64
 6   time3       246919 non-null  object
 7   site4       244321 non-null  float64
 8   time4       244321 non-null  object
 9   site5       241829 non-null  float64
 10  time5       241829 non-null  object
 11  site6       239495 non-null  float64
 12  time6       239495 non-null  object
 13  site7       237297 non-null  float64
 14  time7       237297 non-null  object
 15  site8       235224 non-null  float64
 16  time8       235224 non-null  object
 17  site9       233084 non-null  float64
 18  time9       233084 non-null  object
 19  site10      231052 non-null  float64
 20  time10      231052 non-null  object
 21  target      253561 non-null  int64
dtypes: float64(9), int64(3), object(10)
memory usage: 42.6+ MB
None

### Переведем время в datetime для удобного анализа

In [5]:
for i in range(10):
    time = "time" + str(i+1)
    data[time]=pd.to_datetime(data[time])

### Посмотрим сессии Alice

In [6]:
data[data["target"] == 1].head()

### Выведем процент сессий Alice

In [7]:
data["target"].value_counts(normalize=True)

0    0.990941
1    0.009059
Name: target, dtype: float64

### В какой день недели Alice появилась в первый раз?

In [8]:
data[data["target"] == 1].sort_values(by="time1").head()

,session_id,site1,time1,site2,time2,site3,time3,site4,time4,site5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
79634,79635,270,2013-11-15 12:18:58,63.0,2013-11-15 12:21:25,21.0,2013-11-15 12:27:04,21.0,2013-11-15 12:27:05,22.0,...,2013-11-15 12:27:25,21.0,2013-11-15 12:27:25,7832.0,2013-11-15 12:27:28,21.0,2013-11-15 12:27:28,30.0,2013-11-15 12:27:29,1
11790,11791,7832,2013-11-15 12:27:29,29.0,2013-11-15 12:27:30,7832.0,2013-11-15 12:27:31,37.0,2013-11-15 12:27:32,7832.0,...,2013-11-15 12:27:41,29.0,2013-11-15 12:27:41,7832.0,2013-11-15 12:27:47,30.0,2013-11-15 12:27:47,29.0,2013-11-15 12:27:47,1
250237,250238,7832,2013-11-15 12:28:02,30.0,2013-11-15 12:28:02,29.0,2013-11-15 12:28:03,30.0,2013-11-15 12:28:09,7832.0,...,2013-11-15 12:28:09,37.0,2013-11-15 12:28:18,21.0,2013-11-15 12:28:28,7832.0,2013-11-15 12:28:30,30.0,2013-11-15 12:28:30,1
72788,72789,29,2013-11-15 12:28:30,37.0,2013-11-15 12:29:02,7832.0,2013-11-15 12:31:41,30.0,2013-11-15 12:31:41,29.0,...,2013-11-15 12:31:53,30.0,2013-11-15 12:31:53,29.0,2013-11-15 12:31:53,7832.0,2013-11-15 12:32:06,30.0,2013-11-15 12:32:07,1
184884,184885,29,2013-11-15 12:32:07,37.0,2013-11-15 12:32:28,29.0,2013-11-15 12:34:41,7832.0,2013-11-15 12:34:41,30.0,...,2013-11-15 12:35:05,7832.0,2013-11-15 12:35:06,30.0,2013-11-15 12:35:07,29.0,2013-11-15 12:35:07,7832.0,2013-11-15 12:35:17,1

In [9]:
min(data[data["target"] == 1]["time1"]).dayofweek # 4-пятница

4

### Какие года присутсвуют в обучающей выборке?

In [10]:
data["year"] = data["time1"].dt.year

In [11]:
data["year"].unique()

array([2014, 2013])

### Какой сайт в обучающей выборке чаще всего посещает первым Элис?

In [12]:
sites_ = pd.read_pickle("data/site_dic.pkl")
sites = {y: x for x, y in sites_.items()}

In [13]:
Alice_freq_site = data[data["target"] == 1]["site1"].mode()

In [14]:
Alice_freq_site

0    80
Name: site1, dtype: int64

In [15]:
sites[Alice_freq_site[0]]

's.youtube.com'

### Какой сайт в обучающей выборке чаще всего посещает первым обычный пользователь?

In [16]:
user_freq_site = data[data["target"] == 0]["site1"].mode()

In [17]:
user_freq_site

0    21
Name: site1, dtype: int64

In [18]:
sites[user_freq_site[0]]

'www.google.fr'

### Какой сайт в обучающей выборке является вторым по популярности в 2014 году и сколько раз его посещали в 2014 году?

In [19]:
s = []
for i in range(10):
    site = "site" + str(i+1)
    s.extend(data[data["year"] == 2014][site].tolist())
len(s)

1788860

In [20]:
def most_common(d, n):
    l = d[:]
    for i in range(1, n+1):
        nth_mode = mode(l)
        l = list(filter(lambda val:val != nth_mode, l))
    return(nth_mode)
most = most_common(s, 2)
print(most)

782

In [21]:
sites[most]

'annotathon.org'

In [22]:
s.count(most)

77039

### Сколько всего сессий обучающей выборки содержат в себе меньше чем 10 сайтов?

In [23]:
data["site10"].isna().sum()

22509

### Выбрать верное утверждение

#### Лето является самым малоактивным временем года вообще?

In [24]:
data["month"] = data["time1"].dt.month

In [25]:
data["season"] = data["month"]%12//3+1

In [26]:
data["season"].value_counts(normalize=True)

1    0.491886
2    0.385390
4    0.122724
Name: season, dtype: float64

Лето -- самое малоактивное время года

#### Элис наиболее активна в марте и неактивна летом

In [27]:
data[data["target"] == 1]["month"].value_counts()

12    610
2     449
11    446
3     399
4     305
1      88
Name: month, dtype: int64

Элис наиболее активна в декабре

#### В среднем Элис проводит меньше времени на первой странице, чем другие пользователи

In [28]:
data["diff1"] = data['time2'] - data['time1']

In [29]:
data[data["target"] == 1]["diff1"].mean()

Timedelta('0 days 00:00:06.397994768')

In [30]:
data[data["target"] == 0]["diff1"].mean()

Timedelta('0 days 00:00:19.317000532')

Элис проводит меньше времени на первой странице, чем другие пользователи

#### Медианная длительность посещения первой страницы у не-Элис больше, чем у Элис

In [31]:
data[data["target"] == 1]["diff1"].median()

Timedelta('0 days 00:00:01')

In [32]:
data[data["target"] == 0]["diff1"].median()

Timedelta('0 days 00:00:01')

Медианная длительность посещения первой страницы  одинакова

### Чему равно медианное значение количества уникальных сайтов в рамках одной сессии обучающей выборки?

In [33]:
all_sites = ["site1", "site2", "site3", "site4", "site5", "site6", "site7", "site8", "site9", "site10"]
data['num_uniq'] = data[all_sites].stack().groupby(level=0).nunique()

In [34]:
data["num_uniq"].median()

6.0

### Чему равно медианное значение времени сессии в обучающей выборке (время посещения последнего сайта примем равным нулю)?

In [35]:
all_time = ["time1", "time2", "time3", "time4", "time5", "time6", "time7", "time8", "time9", "time10"]
data["last_session"] = data[all_time].max(axis=1)

In [36]:
data["session_time"] = data['last_session'] - data['time1']

In [37]:
data["session_time"].median()

Timedelta('0 days 00:00:27')

### В каком месяце доля сессий Элис среди всех сессий наибольшая?

In [38]:
pd.crosstab(data["target"], data["month"], normalize="columns")

month         1         2         3         4    5         11        12
target
0       0.996864  0.991546  0.992782  0.992799  1.0  0.985667  0.985995
1       0.003136  0.008454  0.007218  0.007201  0.0  0.014333  0.014005

Доля сессий наибольшая в ноябре (11)